// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-shadow($color, $offset-x, $offset-y, $blur) {
  text-shadow: $color $offset-x $offset-y $blur;
}

// Global styles
* {
  box-sizing: border-box;
  margin: 0;
  font-family: monospace, sans-serif;
}

:root {
  --primary: #3498db;
  --secondary: #6fcbc2;
  --tertiary: #0b3552;
  --black: #141616;
  --white: #ecfffd;
}

body {
  background-color: var(--black);
  color: var(--white);
}

// Header styles
header {
  background-color: var(--primary);
  height: 80px;
  display: grid;
  grid-template-columns: 80px 1fr 300px;
  padding: 0px 80px;

  figure {
    height: 80px;
    padding: 4px;

    img {
      height: 100%;
    }
  }

  nav {
    @include flex-center;
    grid-template-columns: repeat(3, 1fr);

    a {
      width: fit-content;
      color: var(--white);
      text-decoration: none;
      font-size: 20px;
      text-align: center;
      transition: 1s all ease;

      &:hover {
        color: var(--black);
        @include text-shadow(var(--white), 3px, 3px, 4px);
      }
    }
  }
}

// Main styles
main {
  background-color: var(--secondary);
  padding: 0px 84px;
  display: flex;
  flex-direction: column;
  gap: 200px;

  section:first-of-type {
    height: calc(100vh - 80px);
    background-color: var(--black);
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 1440px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 3fr;
    }

    article {
      @include flex-center;
      flex-direction: column;

      h1 {
        font-size: 64px;
        text-align: center;
        margin-bottom: 40px;
        text-shadow: 3px 3px var(--tertiary);

        @media (max-width: 1440px) {
          font-size: 48px;
        }
        @media (max-width: 768px) {
          font-size: 32px;
        }
      }

      p {
        font-size: 24px;
        text-align: center;
        margin-bottom: 40px;
        text-shadow: 3px 3px var(--tertiary);
        max-width: 500px;
        line-height: 1.5;

        @media (max-width: 1440px) {
          font-size: 18px;
        }
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }

    figure {
      @include flex-center;
      justify-content: end;
      align-items: flex-end;
      margin: 80px 0;
      max-height: 100%;
      overflow: hidden;

      @media (max-width: 1440px) {
        margin: 0;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  section:nth-of-type(2) {
    background-color: #141616;
    div {
      display: grid;
      grid-template-rows: 300px 200px 300px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "one  two   three"
        "four four  six"
        "seven eight  six";
      @media (max-width: 1440px) {
        grid-template-rows: 200px 100px 300px 150px 200px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          "six  two"
          "six one"
          "four four"
          "seven eight"
          "three three";
      }
      @media (max-width: 768px) {
        grid-template-rows: repeat(7, 100px);
        grid-template-columns: 1fr;
        grid-template-areas:
          "one"
          "two"
          "three"
          "four"
          "four"
          "six"
          "seven"
          "eight";
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:nth-of-type(1) {
          grid-area: four;
          object-position: 50% 85%;
        }
        &:nth-of-type(2) {
          grid-area: two;
        }
        &:nth-of-type(3) {
          grid-area: three;
        }
        &:nth-of-type(4) {
          grid-area: one;
        }
        &:nth-of-type(5) {
          grid-area: eight;
        }
        &:nth-of-type(6) {
          grid-area: six;
        }
        &:nth-of-type(7) {
          grid-area: seven;
        }
        &:nth-of-type(8) {
          grid-area: eight;
        }
        &:nth-of-type(9) {
          grid-area: six;
        }
      }
    }
  }
}

// Footer styles
footer {
  background-color: var(--tertiary);
  height: 160px;
}
